/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  font-family: 'Inter', sans-serif;
}

@layer base {
  h1 {
    @apply text-2xl font-semibold;  /* mb-4 제거 */
  }
  h2 {
    @apply text-xl font-semibold mb-3;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-full text-sm font-medium transition-colors duration-300;
  }
  .btn-primary {
    @apply bg-green-500 text-white hover:bg-green-600;
  }
  .btn-secondary {
    @apply bg-gray-700 text-white hover:bg-gray-600;
  }
  .input {
    @apply w-full border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent bg-gray-800 text-white;
  }
}

button:focus {
  outline: none;
}


/* 웹킷 기반 브라우저(Chrome, Safari 등)에서 스크롤바 숨기기 */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox에서 스크롤바 숨기기 */
.hide-scrollbar {
  scrollbar-width: none;
}

/* IE와 Edge에서 스크롤바 숨기기 */
.hide-scrollbar {
  -ms-overflow-style: none;
}

/* slick-carousel 기본 스타일 */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

/* 스크롤바 숨기기 */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.slick-slide {
  margin: 0 5px; /* 좌우 마진을 10px로 설정 */
}